/* GENERAL */

@font-face {
  font-family: 'polygonThin';
  src: url(/assets/fonts/Polygon/PoligonThin.otf);
  font-weight: 100;
}

@font-face {
  font-family: 'polygonLight';
  src: url(/assets/fonts/Polygon/PoligonLight.otf);
  font-weight: 200;
}

@font-face {
  font-family: 'polygonRegular';
  src: url(/assets/fonts/Polygon/PoligonRegular.otf);
  font-weight: 300;
}

@font-face {
  font-family: 'polygonMedium';
  src: url(/assets/fonts/Polygon/PoligonMedium.otf);
  font-weight: 500;
}

@font-face {
  font-family: 'polygonSemiBold';
  src: url(/assets/fonts/Polygon/PoligonSemiBold.otf);
  font-weight: 600;
}

@font-face {
  font-family: 'polygonBold';
  src: url(/assets/fonts/Polygon/PoligonBold.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'polygonExtraBold';
  src: url(/assets/fonts/Polygon/PoligonExtraBold.otf);
  font-weight: 800;
}

@font-face {
  font-family: 'polygonBlack';
  src: url(/assets/fonts/Polygon/PoligonBlack.otf);
  font-weight: 900;
}

* {
	scrollbar-width: none;
  box-sizing: border-box;
  text-decoration: none;
}

*::-webkit-scrollbar {
	display: none;
}

body {
  overflow: scroll;
  margin: 0px 0px 0px 0px;
  background-color: #11151C;    
}

h1 {
  color: white;
  font-family: 'polygonSemiBold';
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p {
  font-family: 'polygonRegular';
  font-weight: 300;
}

a {
  text-decoration: none;
  width: auto;
  height: auto;
}

a:hover {
  color: #E59425;
}

a:visited, a:link {
  color: white;
}

/*///// NAVBAR /////*/

#nav__horizontal-container {
  display: flex;
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2vh;
  padding-right: 4.6vw;
  padding-left: 4.6vw;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.nav__links-wrp {
  display: grid;
  justify-items: flex-end;
  -webkit-box-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  column-gap: 3.5vw;
  row-gap: 0px;
  width: 100%;
}

.nav__menu {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-column-gap: 2.9vw;
  grid-row-gap: 0px;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: space-between;
}

.w-nav-menu {
  position: relative;
  float: right;
}

.button-container {
  display: inline-block;
  justify-content: space-around;
}

.nav__links-btn {
  transition: all 300ms ease;
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  color: white;
}

.nav__btn-text {
  font-size: 20px;
  font-family: 'polygonMedium';
}

.nav__links-btn:hover {
  color: #E59425;
}

.nav__btn-text:hover {
  color: #E59425;
}

/*///// DROPDOWN /////*/

.dropbtn, .no-dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
}

.button-container:hover .nav__dropdown-content {
  display: block;
  background-color: #E59425;
}

.nav__dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav__dropdown-content a {
  color: #B56D08;
  padding: 12px 16px;
  display: block;
}

.nav__dropdown-content a:hover {
  background-color: #B56D08;
  color: white;
}


/*///// HOME TEXT PPT /////*/

#home__main-container {
  height: 80vh;
  margin: 23vh 0px 0px 5vw;
}

#home__tittle-text {
  font-size: 8vh;
  font-family: 'polygonExtraBold';
}

/*///// ENTER THE STRUDEL /////*/

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.btn-pr {
  position: relative;
  display: block;
  width: 20vw;
  padding: 2.2vh 1.2vw;
  line-height: 0.5;
  font-size: 1.5vw;
  font-weight: 700;
  color: white;
  border: 3px solid #E59425;
  border-radius: 0.5vw;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  align-self: flex-start;
  -webkit-align-self: flex-start;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;  
}

.btn-pr:hover {
  color: white;
  border: 2.9px solid #11151C;
}

.btn-pr:before {
  content: "";
  position: absolute;
  background: linear-gradient(80deg, rgba(229,148,37,1) 0%, rgba(225,80,38,1) 100%); 
  bottom: 0;
  right: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.09s ease-in;
}

.btn-pr:hover:before {
  right: 0;
  border: transparent;
}

#home__dapp-btn-wrapper {
  padding: 2vh 0px 0px 0px;
  font-family: 'polygonSemiBold'
}

/*///// INFORMATION /////*/

#info__problem-container {
  height: 100vh;
  background-color: #11151C;
  text-transform: none;
}

#problem-wrapper {
  width: 60%;
  position: relative;
  border-radius: 0.5vw;
  text-decoration: none;
  margin: 0px 0px 0px 50px;
}

#problem__header {
  position: relative;
  font-size: 4vw;
  padding: 0px 0px 0px 10px;
  margin: 0px 0px 10px 0px;
  color: white;
}

#problem__text-body {
  position: relative;
  flex-wrap: wrap;
  overflow-wrap: normal;
  color: white;
  font-size: 2.3vh;
  line-height: 3vh;
  padding: 0vh 1vw 1vh 1vw;
}

.modifier__text--orange {
  color: #E59425;
}

#qlty-random-text, #qlty-hl-blk {
  color: white;
}

/* linear-gradient(80deg, rgba(229,148,37,1) 0%, rgba(225,80,38,1) 100%); #qlty-random-text, 
<span class="qlty-hl-og">$vBTC</span>
is the first and only <span id="qlty-random-text"> decentralized </span><br> Bitcoin Wrapper on DeFi.*/